.DS_Store
*.pkl
*.pyc
*.so
*.o
*.c
parameters.pxi
parameters_micro.pxi
Csrc/parameters.h
Csrc/parameters_micro.h
*.idea
*.in
build/
*.txt
!requirements_euler_ubuntu_pip.txt
!environment_euler_ubuntu_pip.txt
figs/
_static/
_templates/
*.png
*.mod

# experiment output directories
Out*

# slurm
*.out
*.err

# test compilation
!test_installation/Straka93_test_nproc2.in
!test_installation/SullivanPatton_test_nproc2.in